@tailwind base;
@tailwind components;
@tailwind utilities;

.heroImg {
  background-image: url("../public/assets/hero1.jpg");
}
.aboutImg {
  background-image: url("../public/assets/blue-grain-village-dental.jpg");
}

* {
  scrollbar-width: thin;
  scrollbar-color: #c3f50f #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c3f50f;
  border-radius: 8px;
  border: 2px double #ea7676;
}

.bgImg {
  background-image: url("../public/assets/dentalbg.jpg");
}
